<h1>Departments</h1>

<ejs-grid id="Grid" toolbar="@(new List<string>() { "Add","Delete","Update", "Cancel" })" dataBound="dataBound">
    <e-data-manager adaptor="RemoteSaveAdaptor" json="@ViewBag.dataSource.ToArray()" insertUrl="Insert" updateUrl="Update" removeUrl="Delete"></e-data-manager>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editSettings>
    <e-grid-columns>
        <e-grid-column field="DepartmentId" headerText="Id" isPrimaryKey="true" visible="false"></e-grid-column>
        <e-grid-column field="Name" headerText="Name" textAlign="Right"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script>
    function dataBound(args) {
        this.autoFitColumns(['Name']);
    }
</script>