<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ویناریش</title>

    <script src="https://lib.arvancloud.com/ar/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://lib.arvancloud.com/ar/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <script src="https://lib.arvancloud.com/ar/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.15.0/dist/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    @*<link rel="stylesheet" href="https://bootswatch.com/4/pulse/bootstrap.min.css" />*@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/9a693174ee.js"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>

    <div class="container">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>
    <footer class="fixed-bottom">
        <nav class="navbar" style=" background-color: rgba(255, 255, 255, 0.5);">
            <div class="container align-content-between">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/img/ویناریش.png" width="50">
                </a>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </footer>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/fixedheader/3.1.4/css/fixedHeader.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.min.css" />
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.4/js/dataTables.fixedHeader.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/assets/persian-date.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table').DataTable({
                "paging": false,
                "fixedHeader": {
                    header: true,
                },
                responsive: true,
                "language": {
                    "decimal": "",
                    "emptyTable": "بدون ردیف",
                    "info": "_START_ تا _END_ از _TOTAL_ ردیف",
                    "infoEmpty": " 0 تا 0 از 0 ردیف",
                    "infoFiltered": "(پالایش شده از _MAX_ ردیف)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "نمایش _MENU_",
                    "loadingRecords": "دریافت داده‌ها ...",
                    "processing": "پردازش داده‌ها ...",
                    "search": "جستجو:",
                    "zeroRecords": "ردیفی یافت نشد",
                    "paginate": {
                        "first": "نخستین",
                        "last": "واپسین",
                        "next": "پسین",
                        "previous": "پیشین"
                    }
                }
            });
        });
    </script>
    <script>
        $(function () {
            var pathName = document.location.pathname;
            window.onbeforeunload = function () {
                var scrollPosition = $(document).scrollTop();
                localStorage.setItem("scrollPosition_" + pathName, scrollPosition.toString());
            }
            if (localStorage["scrollPosition_" + pathName]) {
                $(document).scrollTop(localStorage.getItem("scrollPosition_" + pathName));
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>