@model Roles.Controllers.RoleViewModel

@{ }

<div>
    <form asp-controller="Roles" asp-action="CreateRole" method="post">
        <label>افزودن نقش نو</label>
        <input asp-for="Name" />
        <input type="submit" value="افزودن" />
    </form>
</div>