@model Roles.Controllers.RoleViewModel

@{ }

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.UsersIndexNavClass(ViewContext)" id="Index" asp-page="./Index">فهرست کاربران</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.RolesIndexNavClass(ViewContext)" id="RolesIndex" asp-page="./RolesIndex">فهرست نقش‌ها</a></li>
</ul>