<div>
    <h2>افزودن کاربر</h2>
    <div dir="ltr">
        <form asp-controller="Roles" asp-action="CreateUser" method="post">
            <div class="input-group mb-3">
                <input type="submit" value="افزودن کاربر" />
                <input type="text" name="email" class="form-control" placeholder="نام کاربری">
                <div class="input-group-append">
                    <span class="input-group-text" id="basic-addon2">@@vinarish.com</span>
                </div>
            </div>
        </form>
    </div>
</div>