@model Roles.Controllers.DisplayViewModel

@{ }

<div>
    <div>
        <h2>فهرست نقش‌ها</h2>
        <ul>
            @foreach (var role in Model.Roles)
            {
                <li>
                    @role
                </li>
            }
        </ul>
    </div>
    <partial name="_CreateRole" model="new Roles.Controllers.RoleViewModel()">
</div>
<div>
    <partial name="_AddUserToRole" model="new Roles.Controllers.UpdateUserRoleViewModel() { Users = Model.Users, Roles = Model.Roles }">
</div>