@page
@model Vinarish.Pages.Trains.DeleteModel

      <h3>آیا می‌خواهید این Train را پاک کنید؟</h3>
<div>
    <h4>Train</h4>
    <hr />
    <dl class="row">
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Train.TrainId" />
        <input type="submit" value="پاک شود" class="btn btn-danger" /> |
        <a asp-page="./Index">بازگشت به فهرست</a>
    </form>
</div>
