@page
@model Vinarish.Pages.Wagons.EditModel

<h4>Wagon</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Wagon.WagonId" />
            <div class="form-group">
                <label asp-for="Wagon.TrainId" class="control-label"></label>
                <select asp-for="Wagon.TrainId" class="form-control" asp-items="ViewBag.TrainId"></select>
                <span asp-validation-for="Wagon.TrainId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
