@model IEnumerable<VinarishMvc.Models.DevicePlace>

@{
    ViewData["Title"] = "دستگاه‌ها";
}
<h1>DevicePlaces</h1>

<ejs-grid id="Grid" enableRtl="true" toolbar="@(new List<string>() { "Add","Delete","Update", "Cancel","ExcelExport" })" allowPaging="true" allowSorting="true" toolbarClick="toolbarClick" allowExcelExport="true" dataBound="dataBound">
    <e-data-manager adaptor="RemoteSaveAdaptor" json="@Model.ToArray()" insertUrl="Insert" updateUrl="Update" removeUrl="Remove"></e-data-manager>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editSettings>
    <e-grid-columns>
        <e-grid-column field="DevicePlaceId" isPrimaryKey="true" visible="false"></e-grid-column>
        <e-grid-column field="Code" headerText="Code" textAlign="Right"></e-grid-column>
        <e-grid-column field="Description" headerText="Description" textAlign="Right"></e-grid-column>
        <e-grid-column field="DeviceType.DeviceTypeId" foreignKeyField="DeviceTypeId" headerText="DeviceType" foreignKeyValue="Name"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<form asp-action="Upload" method="post"
      enctype="multipart/form-data">
    <input type="file" name="file" class="btn btn-light" />
    <div class="form-group">
        <input type="submit" value="افزودن از اکسل" class="btn btn-light" />
    </div>
</form>
<script>
    function dataBound(args) {
        this.autoFitColumns(['Code', 'Description']);
    }
    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];
        if (args.item.id === 'Grid_excelexport') {
            gridObj.excelExport();
        }
    }
</script>