@page
@model LoginModel

@{
    ViewData["Title"] = "آغاز";
}

<div class="row">
    <div class="col-md-3">
        <section>
            <form id="account" method="post">
                <h4>آغاز کار با سامانه</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    @*<label asp-for="Input.Email"></label>// TODO: Persian Text for label*@
                    نام کاربر
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    @*<label asp-for="Input.Password"></label>*@
                    رمز
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="btn btn-light active">
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                            <input asp-for="Input.RememberMe" class="" />
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">آغاز</button>
                </div>
                <div class="form-group">
                    <div class="alert alert-info" role="alert">
                        برای عضویت، بازیابی نام کاربری یا رمز، نزد مدیر سامانه بروید.
                    </div>
                    @*<p>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </p>*@
                    @*<p>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
        </p>*@
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
