@model IEnumerable<VinarishMvc.Models.Report>
@{
    var reports = Model.OrderByDescending(r => r.DateTimeCreated);
}
@if (Model.Count() == 0)
{
    <div>بدون گزارش</div>
}
else
{

    <div class="accordion" id="accordionExample">
        @if (reports.Any(r => r.Status == ReportStatus.Waiting || r.Status == ReportStatus.Postponed))
        {
            <div class="card">
                <a class="card-header bg-warning" style="text-decoration:none;color:black" id="headingOne" data-toggle="collapse" href="#collapseOne">
                    @Expressions.WaitingReports
                </a>

                <div id="collapseOne" class="collapse" data-parent="#accordionExample">
                    <div class="card-body">
                        @foreach (Report r in reports)
                        {
                            if (r.ParentReportId == null)
                            {
                                @if (r.Status == ReportStatus.Waiting || r.Status == ReportStatus.Postponed)
                                {
                                    @await Html.PartialAsync("~/Views/Reports/_ProgressReport.cshtml", r)
                                }
                            }
                        }
                    </div>
                </div>
            </div>
        }

        @if (reports.Any(r => r.Status == ReportStatus.Processed))
        {
            <div class="card">
                <a class="card-header bg-success" style="text-decoration:none;color:black" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo">
                    @Expressions.ProcessedReports
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                        @foreach (Report r in reports)
                        {
                            if (r.ParentReportId == null)
                            {
                                @if (r.Status == ReportStatus.Processed)
                                {
                                    @await Html.PartialAsync("~/Views/Reports/_ProgressReport.cshtml", r)
                                }
                            }
                        }
                    </div>
                </div>
            </div>

        }
    </div>
}