@model IEnumerable<VinarishMvc.Models.Report>

        @if (Model.Count() == 0)
        {
            <div>بدون گزارش</div>
        }
        @foreach (Report r in Model)
        {
            if (r.ParentReportId == null)
            {
                @await Html.PartialAsync("~/Views/Reports/_ProgressReport.cshtml", r)
            }
        }