@model VinarishMvc.Models.Report

    <h4>افزودن گزارش</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Append">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WagonId" class="control-label"></label>
                <select asp-for="WagonId" class="form-control" asp-items="ViewBag.WagonId" readonly></select>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label"></label>
                <select asp-for="CatId" type="text" class="form-control" asp-items="@ViewBag.CatId" readonly></select>
            </div>
            <div class="form-group">
                <label asp-for="PlaceId" class="control-label"></label>
                <select asp-for="PlaceId" type="text" class="form-control" asp-items="@ViewBag.PlaceId" readonly></select>
            </div>
            <div class="form-group">
                <label asp-for="CodeId" class="control-label"></label>
                <select asp-for="CodeId" class="form-control" asp-items="ViewBag.CodeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input disabled class="form-control" value="@Utilities.GetPErsianDateTimeNow()" />
            </div>
            <div class="form-group">
                <label asp-for="ReporterId" class="control-label"></label>
                <select asp-for="ReporterId" class="form-control" asp-items="ViewBag.ReporterId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AppendixReportId" class="control-label"></label>
                <select asp-for="AppendixReportId" class="form-control" asp-items="@ViewBag.AppendixReportId" readonly></select>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary" role="button">بازگشت به فهرست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
