@model VinarishMvc.Models.Report

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Report</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WagonId" class="control-label"></label>
                <select asp-for="WagonId" class="form-control" asp-items="ViewBag.WagonId"></select>
                <span asp-validation-for="WagonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceId" class="control-label"></label>
                <select asp-for="PlaceId" class="form-control" asp-items="ViewBag.PlaceId"></select>
                <span asp-validation-for="PlaceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CatId" class="control-label"></label>
                <select asp-for="CatId" class="form-control" asp-items="ViewBag.CatId"></select>
                <span asp-validation-for="CatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodeId" class="control-label"></label>
                <select asp-for="CodeId" class="form-control" asp-items="ViewBag.CodeId"></select>
                <span asp-validation-for="CodeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTime" class="control-label"></label>
                <input asp-for="DateTime" class="form-control" />
                <span asp-validation-for="DateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReporterId" class="control-label"></label>
                <select asp-for="ReporterId" class="form-control" asp-items="ViewBag.ReporterId"></select>
                <span asp-validation-for="ReporterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppendixReportId" class="control-label"></label>
                <select asp-for="AppendixReportId" class="form-control" asp-items="ViewBag.AppendixReportId"></select>
                <span asp-validation-for="AppendixReportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsValid" class="control-label"></label>
                <input asp-for="IsValid" class="form-control" />
                <span asp-validation-for="IsValid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary" role="button">بازگشت به فهرست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
