@{
    ViewData["Title"] = "ویناریش";
}

    <div class="text-center">
        <h1 class="display-3">ویناریش</h1>
        <h1 class="display-4">سامانگر نگهداری و بازسازی سازوبرگ راه‌آهن</h1>

        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">سازماندهی افزارها</h5>
                <p class="card-text">تعریف بخش‌ها و افزارهای هر بخش</p>
                <p class="card-text">تعریف کدهای وضعیت خرابی و بازسازی و رفع عیب</p>
                <a asp-action="Index" asp-controller="Departments" class="btn btn-outline-dark btn-lg btn-block" role="button">بخش‌ها</a>
                <a asp-action="Index" asp-controller="Categories" class="btn btn-outline-dark btn-lg btn-block" role="button">افزارها</a>
                <a asp-action="Index" asp-controller="StatCodes" class="btn btn-outline-dark btn-lg btn-block" role="button">کدهای وضعیت</a>
            </div>
        </div>

        <div class="card text-center" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">سازماندهی افزارها</h5>
                <p class="card-text">تعریف بخش‌ها و افزارهای هر بخش</p>
                <p class="card-text">تعریف کدهای وضعیت خرابی و بازسازی و رفع عیب</p>
                <a asp-action="Index" asp-controller="Departments" class="btn btn-outline-dark btn-lg btn-block" role="button">بخش‌ها</a>
                <a asp-action="Index" asp-controller="Categories" class="btn btn-outline-dark btn-lg btn-block" role="button">افزارها</a>
                <a asp-action="Index" asp-controller="StatCodes" class="btn btn-outline-dark btn-lg btn-block" role="button">کدهای وضعیت</a>
            </div>
        </div>
    </div>
