@{
    ViewData["Title"] = "ویناریش";
}
@using VinarishMvc.Areas.Identity.Models

@using Microsoft.AspNetCore.Identity
@inject SignInManager<VinarishUser> SignInManager
<div class="text-center">
    <img src="~/img/ویناریش.png" width="150" />
    <h1>ویناریش</h1>
    <h4>سامانه‌ی نگهداری و بازسازی سازوبرگ راه‌آهن</h4>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="card-group align-middle">
            <div class="card text-center text-white bg-dark mr-1 rounded-lg">
                <div class="card-body">
                    <h5 class="card-title">چشم‌انداز</h5>
                    <a asp-action="MalfunctionOverview" asp-controller="Reports" class="btn btn-outline-light btn-lg btn-block" role="button">آمار خرابی‌ها</a>
                    <a asp-action="" asp-controller="Reports" class="btn btn-outline-light btn-lg btn-block" role="button">آمار خسارتی‌ها</a>
                    <a asp-action="" asp-controller="Reports" class="btn btn-outline-light btn-lg btn-block" role="button">نمودارها</a>
                    <a asp-action="" asp-controller="Reports" class="btn btn-outline-light btn-lg btn-block" role="button">کارکردها</a>
                    <a asp-action="" asp-controller="Reports" class="btn btn-outline-light btn-lg btn-block" role="button">پیام‌ها</a>
                </div>
            </div>
            <div class="card text-center text-white bg-dark mr-1 rounded-lg">
                <div class="card-body">
                    <h5 class="card-title">گزارش</h5>
                    <a asp-action="Abstract" asp-controller="Reports" class="btn btn-outline-light btn-lg btn-block" role="button">گزارش‌های امروز</a>
                    <a asp-action="Index" asp-controller="Reports" class="btn btn-outline-light btn-lg btn-block" role="button">فهرست گزارش‌ها</a>
                    <a asp-action="" asp-controller="Reports" class="btn btn-outline-light btn-lg btn-block" role="button">سرنوشت گزارش‌ها</a>
                    <a asp-action="" asp-controller="Reports" class="btn btn-outline-light btn-lg btn-block" role="button">گزارش وضعیت برق</a>
                    <a asp-action="" asp-controller="Reports" class="btn btn-outline-light btn-lg btn-block" role="button">گزارش‌های راه</a>
                </div>
            </div>
            <div class="card text-center text-white bg-dark mr-1 rounded-lg">
                <div class="card-body">
                    <h5 class="card-title">سازماندهی</h5>
                    <a asp-action="Index" asp-controller="Trains" class="btn btn-outline-light btn-lg btn-block" role="button">رام</a>
                    <a asp-action="Index" asp-controller="Wagons" class="btn btn-outline-light btn-lg btn-block" role="button">واگن</a>
                    <a asp-action="Index" asp-controller="Categories" class="btn btn-outline-light btn-lg btn-block" role="button">رده‌ی دستگاه</a>
                    <a asp-action="Index" asp-controller="Places" class="btn btn-outline-light btn-lg btn-block" role="button">دستگاه</a>
                    <a asp-action="Index" asp-controller="StatCodes" class="btn btn-outline-light btn-lg btn-block" role="button">وضعیت</a>
                </div>
            </div>
        </div>
    }
    <p class="MyriadProFont">contact@@vinarish.com</p>

</div>