@model VinarishMvc.Models.Wagon
@{
    ViewData["Title"] = "واگن " + Model.Name;
}

<h1>
    @ViewData["Title"]
</h1>
<a class="btn btn-danger" asp-action="CreateWagonReport" asp-controller="Reports" asp-route-id="@Model.WagonId">
    <span>@Expressions.Report</span>
    <i class="fa fa-plus-circle fa-lg m-2"></i>
</a>

@await Html.PartialAsync("~/Views/Reports/_ProgressList.cshtml", Model.Reports)