@model VinarishMvc.Models.Wagon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Wagon</h4>
<hr />
<div class="row">
    <div class="col-md-3">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="WagonId" class="control-label"></label>
                <input asp-for="WagonId" class="form-control" />
                <span asp-validation-for="WagonId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrainId" class="control-label"></label>
                <select asp-for="TrainId" class="form-control" asp-items="ViewBag.TrainId"></select>
                <span asp-validation-for="TrainId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary" role="button">بازگشت به فهرست</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
