@{
    ViewData["Title"] = "واگن‌ها";
}
<h1>Wagons</h1>

<ejs-grid id="Grid" toolbar="@(new List<string>() { "Add","Delete","Update", "Cancel","ExcelExport" })" toolbarClick="toolbarClick" allowExcelExport="true" dataBound="dataBound">
    <e-data-manager adaptor="RemoteSaveAdaptor" json="@ViewBag.dataSource.ToArray()" insertUrl="Insert" updateUrl="Update" removeUrl="Remove"></e-data-manager>
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true"></e-grid-editSettings>
    <e-grid-columns>
        <e-grid-column field="WagonId" isPrimaryKey="true" visible="false"></e-grid-column>
        <e-grid-column field="Number" headerText="Number" textAlign="Right"></e-grid-column>
        <e-grid-column field="Name" headerText="Name" textAlign="Right"></e-grid-column>
    </e-grid-columns>
</ejs-grid>
<form asp-action="Upload" method="post"
      enctype="multipart/form-data">
    <input type="file" name="file" class="btn btn-light" />
    <div class="form-group">
        <input type="submit" value="افزودن از اکسل" class="btn btn-light" />
    </div>
</form>
<script>
    function dataBound(args) {
        this.autoFitColumns(['Name', 'Number']);
    }
    function toolbarClick(args) {
        var gridObj = document.getElementById("Grid").ej2_instances[0];
        if (args.item.id === 'Grid_excelexport') {
            gridObj.excelExport();
        }
    }
</script>