@model DeviceType


<span data-toggle="collapse" data-target=".bar">
    <i class="fa fa-arrow-circle-right"></i>
</span>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">دستگاه‌ها</a>
        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">کدهای خرابی</a>
        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">کدهای بازسازی</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <i class="fa fa-plus-circle"></i>

        @foreach (DevicePlace dp in Model.DevicePlaces)
        {
            <div class="d-flex flex-row flex-wrap ">
                <div class="card p-2 px-3 w-50 list-group-item-action">
                    <ejs-inplaceeditor data-underline="false" id="dp-desc-@dp.DevicePlaceId" mode="Inline" value="dp.Description" name="Description" primaryKey="@dp.DevicePlaceId" adaptor="UrlAdaptor" url="DeviceManagement/UpdateData" model="ViewBag.model">
                    </ejs-inplaceeditor>
                </div>
                <div class="card p-2 px-3 w-50 list-group-item-action">
                    <ejs-inplaceeditor data-underline="false" id="dp-code-@dp.DevicePlaceId" mode="Inline" value="dp.Code" name="Code" primaryKey="@dp.DevicePlaceId" adaptor="UrlAdaptor" url="DeviceManagement/UpdateData" model="ViewBag.model">
                    </ejs-inplaceeditor>
                </div>
            </div>
        }
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <ejs-grid id="Grid" dataSource="ViewBag.dataSource">
            <e-grid-columns>
                <e-grid-column field="DepartmentId" headerText="Id" ></e-grid-column>
                <e-grid-column field="Name" headerText="Name" textAlign="Right"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>
<style>
    .e-editable-value {
        font-family: 'B Nazanin' !important;
    }
</style>

<script>
    function NodeClicked(e) {
        $("#main").load("DeviceManagement/about/" + e);
    }
</script>

<ejs-scripts></ejs-scripts>
