@using VinarishMvc.Models
@foreach (Department d in ViewBag.Data)
{
    <div class="list-group">

        <span data-target="#menu-@d.DepartmentId" class="list-group-item list-group-item-dark font-weight-bolder" data-toggle="collapse">
            <i class="iconic iconic-chevron-right"></i>@d.Name
        </span>
        <div class="list-group collapse" id="menu-@d.DepartmentId">

            @foreach (DeviceType dt in d.DeviceTypes)
            {
                <span data-target="#menu-@dt.DeviceTypeId" class="list-group-item list-group-item-secondary font-weight-bold" data-toggle="collapse">
                    <i class="glyphicon glyphicon-chevron-right"></i>@dt.Name
                </span>
                <div class="list-group collapse" id="menu-@dt.DeviceTypeId">
                    @foreach (DevicePlace dp in dt.DevicePlaces)
                    {
                        <div class="d-flex flex-row flex-wrap ">
                            <div class="card p-2 px-3 w-50 list-group-item-action">
                                <ejs-inplaceeditor data-underline="false" id="dp-desc-@dp.DevicePlaceId" mode="Inline" value="dp.Description" name="Description" primaryKey="@dp.DevicePlaceId" adaptor="UrlAdaptor" url="DeviceManagement/UpdateData" model="ViewBag.model">
                                </ejs-inplaceeditor>
                            </div>
                            <div class="card p-2 px-3 w-50 list-group-item-action">
                                <ejs-inplaceeditor data-underline="false" id="dp-code-@dp.DevicePlaceId" mode="Inline" value="dp.Code" name="Code" primaryKey="@dp.DevicePlaceId" adaptor="UrlAdaptor" url="DeviceManagement/UpdateData" model="ViewBag.model">
                                </ejs-inplaceeditor>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>

    </div>
}