
<div class="container-fluid">
    <div class="row d-flex">

        <nav class="col-xs-6 collapse show width bar" id="sidebar">
            <div class="btn-group-vertical" role="group">
                @foreach (Department d in ViewBag.Data)
                {

                    <span data-target="#menu-@d.DepartmentId" class="btn btn-dark btn-lg" data-toggle="collapse">
                        @d.Name
                    </span>
                    <div class="collapse btn-group-vertical" role="group" id="menu-@d.DepartmentId">

                        @foreach (DeviceType dt in d.DeviceTypes)
                        {
                            <button onclick="NodeClicked('@dt.DeviceTypeId')" class="btn btn-light btn-lg" data-toggle="collapse" data-target=".bar">
                                @dt.Name
                            </button>
                        }
                    </div>

                }
            </div>
        </nav>
        <main class="col-xl bar" id="mainbar">
            <div id="main">

            </div>
        </main>
    </div>
</div>
<style>
    .fa {
        font-size: 2rem;
        cursor: pointer;
    }

    .collapse.show {
        visibility: visible;
    }

    .collapsing {
        visibility: visible;
        height: 0;
        -webkit-transition-property: height, visibility;
        transition-property: height, visibility;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        -webkit-transition: width .1s; /* Safari */
        transition: width .1s;
    }

        .collapsing.width {
            -webkit-transition-property: width, visibility;
            transition-property: width, visibility;
            width: 0;
            height: 100%;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            -webkit-transition: width .1s; /* Safari */
            transition: width .1s;
        }
</style>

<script>
    function NodeClicked(e) {
        $("#main").load("DeviceManagement/about/" + e);
    }
</script>
